<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="entries" class="mx-auto">
    <div th:each="entry, it : ${entries}" th:with="index = ${it.count}" th:fragment="entries (entries)">
        <div class="card" th:fragment="entry" th:id="entry+${entry.id}">
            <div class="card-header">
                <form sec:authorize="hasRole('ADMIN')" th:method="delete" th:action="@{/guestbook/{id}(id=${entry.id})}" th:attr="data-entry-id=${entry.id}">
                    <button th:title="#{guestbook.form.delete}" class="btn btn-sm float-right"
                            hx:delete="@{/guestbook/{id}(id=${entry.id})}"
                            hx:target="'#entries'">
                        <span class="fas fa-times"></span>
                    </button>
                </form>
                <h4 th:text="${index} + '. ' + ${entry.name}" class="card-title">1. Posting</h4>
            </div>
            <div class="card-body">
                <blockquote class="entrytext" th:text="${entry.text}"></blockquote>
            </div>
            <div class="card-footer">
                <footer class="date" th:text="${#temporals.format(entry.date, 'dd. MMMM yyyy - HH:mm')}">Datum</footer>
            </div>
        </div>
    </div>
</div>

</body>
</html>